.order_type{
    gap: 2em;
}
.container{
    background-color: #F0F1F5;
}

.col-md-4{
    background-color: white;
    width: calc((100% - 2em) / 3);
}
.order_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
h2{
    color: #EE5733;
    font-weight: 500;
    font-family:  "Outfit", sans-serif;
}
h3{
    color: #2A2A2A66;
    font-weight: 500;
    font-family:  "Outfit", sans-serif;
}
span{
    color: #00000066;
    font-weight: 500;
    font-size: .8em;
    font-family:  "Outfit", sans-serif;
}
.btn_second{
    background-color: #EE5733;
    color: #FFFFFF;
    width: 48%;
}
.btn_first{
    width: 48%;
}
.order_btn{
    gap: 2em;
}
.row{
    gap: 1em;
}
a{
    font-family:  "Outfit", sans-serif;
}
@media (max-width:988px){
    .col-md-4{
        width: calc((100% - 1em) / 2);
    }
    
}
@media (max-width:502px){
    .col-md-4{
        width:100%;
    }
       
}